@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

:root {
  /* Define your custom values here 

 --primary-color: #C50514ff;
  --primary-color-hover: #EF0619;
  --secondary-color: #342C66ff;
  --secondary-color-hover: #483D8F;
  --tertiary-color: #1e40af;
  --light-bg: #dee9f4;
 */
  --primary-color: #C50514ff;
  --primary-color-hover: #EF0619;
  --secondary-color: #342C66ff;
  --secondary-color-hover: #483D8F;
  --tertiary-color: #1e40af;
  --light-bg: #dee9f4;
}

.bg-wallnut{
	background-image: url("/wallnuts-full-bg.jpg");
}
.bg-globe{
	background: url("/left-globe-bg.png") no-repeat;
}
.watermark{
    position: relative;
}
.watermark:after{
    background: url("/owner-bg.jpeg") no-repeat;
    content: '';
    position: absolute;
    background-size: cover;
    width: 300px;
    height: 409px;
    z-index: 1;
    right: 0;
    opacity: 0.4;

}
.globe-fix:before{
    content: '';
    position: absolute;
    background: url(/left-globe-bg.png) no-repeat;
    margin-top: 100px;
    background-size: cover;
    width: 300px;
    height: 409px;
    z-index: 1;
    left: 0;
    top: 45px;
    opacity: 0.5;
}
h1, h2,h3 {
  font-family: merriweather;
  font-weight: bold;
  text-transform: uppercase;
}

h3,h4 {
  font-weight:500
}

/* Hero classes */

.carousel {
  
  height: 468px;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 0;
  transition: transform 4s, opacity 2s;
}

.carousel img.active {
  opacity: 1;
  transform: scale(1.25);  
}

.glow-text {
  text-shadow: 0 0 3px #342C66ff, 0 0 3px #342C66ff;
}

/* Hero Text effect */

/* Initial style */
.hero-text {
  @apply transform scale-150 opacity-0 transition duration-1000;
}

/* Animate styles */
.hero-text.animate {
  @apply scale-100 opacity-100;
}