@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define your custom values here 

 --primary-color: #C50514ff;
  --primary-color-hover: #EF0619;
  --secondary-color: #342C66ff;
  --secondary-color-hover: #483D8F;
  --tertiary-color: #1e40af;
  --light-bg: #dee9f4;
 */
  --primary-color: #C50514ff;
  --primary-color-hover: #EF0619;
  --secondary-color: #342C66ff;
  --secondary-color-hover: #483D8F;
  --tertiary-color: #1e40af;
  --light-bg: #dee9f4;
}

.bg-wallnut{
	background-image: url("/wallnuts-full-bg.jpg");
}
.bg-globe{
	background: url("/globe-bg.jpg") no-repeat;
}
h1, h2 {
  font-family: merriweather;
  text-transform: uppercase;
}

/* Hero classes */

.carousel {
  
  
  overflow: hidden;
}

.carousel img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 0;
  transition: transform 2s, opacity 1.25s;
}

.carousel img.active {
  opacity: 1;
  transform: scale(1.25);  
}