---
import Navbar from "../components/Navbar.astro";
import Contactaf from "../components/Contactaf.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contact Us</title>
  </head>
  <body>
    <Navbar />
    <Contactaf />
    <Footer />
  </body>
</html>
