<section>
  <div class="container mt-28 max-w-full mx-auto text-center">
    <div class="carousel w-auto text-center relative">
      <!-- Carousel Images -->
      <img src="h1.png" class="active w-full h-full object-cover" />
      <img src="h3.jpg" class="w-full h-full object-cover" />
      <img src="h4.jpg" class="w-full h-full object-cover" />
      <!-- Carousel Overlay Text  -->
      <div
        class="absolute mt-16 mx-auto left-0 right-0 width-50 translate-x-50% text-center"
      >
        <h1
          class="mt-6 mb-12 text-4xl font-bold tracking-tight md:text-6xl xl:text-7xl"
        >
          Your Quality sourcing <br /><span
            class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary"
            >Expert Partner</span
          >
        </h1>
        <a
          class="mb-2 inline-block rounded bg-primary px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] md:mr-2 md:mb-0"
          data-te-ripple-init
          data-te-ripple-color="light"
          href="tel:+919876407769"
          role="button">Call Us</a
        >
        <a
          class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white transition duration-150 ease-in-out bg-secondary hover:bg-secondaryhover hover:bg-opacity-10 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700"
          data-te-ripple-init
          data-te-ripple-color="light"
          href="/contact"
          role="button">Contact Us</a
        >
      </div>
    </div>
  </div>
</section>
<!-- Carousel Script -->
<script>
  let images = document.querySelectorAll(".carousel img");
  let index = 0;

  function nextImage() {
    images[index].classList.remove("active");

    index++;
    if (index >= images.length) index = 0;

    images[index].classList.add("active");
  }

  setInterval(nextImage, 2000);
</script>
