<section>
  <div class="container px-6 text-center my-8 mx-auto max-w-screen-2xl">
    <h2 class="font-bold py-8 text-2xl">Our Sourcing Partners</h2>

    <div class="flex overflow-hidden space-x-16 group">
      <div class="flex space-x-16 animate-loop-scroll group-hover:paused">
        <img loading="lazy" src="" class="max-w-none" alt="Image 1" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 2" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 3" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 4" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 5" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 6" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 7" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 8" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 9" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 10" />
      </div>
      <div
        class="flex space-x-16 animate-loop-scroll group-hover:paused"
        aria-hidden="true"
      >
        <img loading="lazy" src="" class="max-w-none" alt="Image 1" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 2" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 3" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 4" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 5" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 6" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 7" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 8" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 9" />
        <img loading="lazy" src="" class="max-w-none" alt="Image 10" />
      </div>
    </div>
  </div>
</section>
