---
import "../styles/global.css";
---

<nav class="fixed top-0 left-0 z-50 w-full bg-white border-b border-gray-200">
  <!-- Notification Bar -->
  <div
    class="flex flex-col sm:flex-row justify-around items-center bg-[#ffd700]"
  >
    <!-- Notification Bar Icons -->

    <ul class="flex pt-1 sm:pt-0 gap-2">
      <li>
        <a
          href="#"
          rel="noreferrer"
          target="_blank"
          class="text-gray-700 transition hover:opacity-75"
        >
          <span class="sr-only">Facebook</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path></svg
          >
        </a>
      </li>

      <li>
        <a
          href="#"
          rel="noreferrer"
          target="_blank"
          class="text-gray-700 transition hover:opacity-75"
        >
          <span class="sr-only">Twitter</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-twitter"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
            ></path></svg
          >
        </a>
      </li>

      <li>
        <a
          href="#"
          rel="noreferrer"
          target="_blank"
          class="text-gray-700 transition hover:opacity-75"
        >
          <span class="sr-only">Linkedin</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
              d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
            ></path></svg
          >
        </a>
      </li>
    </ul>

    <!-- Notification Bar Text -->
    <div
      class="sm:flex sm:gap-4 sm:justify-center sm:items-center text-center py-1 font-bold"
    >
      <div class="flex justify-center items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-phone"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
          ></path></svg
        >
        <p>+91 98764 07769</p>
      </div>
      <div class="flex justify-center items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-mail"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path><path d="M3 7l9 6l9 -6"></path></svg
        >
        <p>vimal.ghumman@phoenix-global.net</p>
      </div>
    </div>
  </div>
  <!-- Nav Bar -->
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-2xl px-4 lg:px-8 mx-auto py-4"
  >
    <!-- Logo -->
    <a href="/" class="flex items-center space-x-3">
      <img src="/logo.png" alt="Logo" class="h-20" />
    </a>
    <!-- Call Us -->
    <div class="flex space-x-3 md:order-2">
      <a
        href="tel:+919876407769"
        class="bg-primary text-white hover:bg-primaryhover font-medium rounded-lg text-sm px-4 py-2"
      >
        Call Us
      </a>

      <button
        id="hamburger"
        type="button"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      >
        <span class="sr-only">Open menu</span>
        <svg
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
    <!-- Menu Links -->
    <div
      class="hidden justify-between mt-4 space-y-4 md:mt-0 md:flex md:space-y-0 md:space-x-2 xl:space-x-6 md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="navigation flex flex-col font-medium bg-gray-50 rounded-lg md:bg-transparent md:flex-row md:space-x-2 xl:space-x-6 md:border-0"
      >
        <li>
          <a
            href="/"
            class="block rounded bg-secondary py-2 px-3 md:bg-transparent active:text-secondary"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="/aircraft-on-ground-support"
            class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
            >Aircraft on Ground Support</a
          >
        </li>
        <li>
          <a
            href="/farm-to-fork"
            class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
            >Farm to Fork</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Mobile menu -->
<div
  id="mobile-menu"
  class="hidden fixed top-48 right-0 z-50 text-center md:hidden bg-white"
>
  <ul
    class="navigation flex flex-col justify-center items-center font-medium rounded-lg md:bg-transparent md:flex-row md:space-x-8 md:border-0"
  >
    <li>
      <a
        href="/"
        class="block rounded py-2 px-3 text-gray-800 active:text-secondary md:bg-transparent"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
        >About Us</a
      >
    </li>
    <li>
      <a
        href="/aircraft-on-ground-support"
        class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
        >Aircraft on Ground Support</a
      >
    </li>
    <li>
      <a
        href="/farm-to-fork"
        class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
        >Farm to Fork</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="block rounded py-2 px-3 text-gray-800 hover:bg-gray-100 md:hover:bg-transparent md:border-0 active:text-secondary"
        >Contact Us</a
      >
    </li>
  </ul>
</div>
<script is:inline>
  const hamburger = document.getElementById("hamburger");
  const mobileMenu = document.getElementById("mobile-menu");

  hamburger.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
  const dropdownButton = document.querySelector("#dropdownNavbarLink");
  const dropdownMenu = document.querySelector("#dropdownNavbar");
  dropdownMenu.style.position = "absolute";

  dropdownButton.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
  });
  const mobileDropdownButton = document.querySelector(
    "#mobileDropdownNavbarLink"
  );
  const mobileDropdownMenu = document.querySelector("#mobileDropdownNavbar");

  mobileDropdownButton.addEventListener("click", () => {
    mobileDropdownMenu.classList.toggle("hidden");
  });

  // Active Link
  // Get all navigation links
  const navLinks = document.querySelectorAll("#navigation a");

  // Add an event listener to each link
  navLinks.forEach((link) => {
    link.addEventListener("click", (event) => {
      // Remove the 'active' class from all links
      navLinks.forEach((link) => link.classList.remove("active"));

      // Add the 'active' class to the clicked link
      event.target.classList.add("active");
    });
  });
</script>
