<section>
  <div class="container px-6 my-20 mx-auto max-w-screen-2xl text-center">
    <h2 class="mb-12 pb-4 text-center text-2xl font-bold">Services</h2>

    <div class="grid gap-6 lg:grid-cols-2 xl:gap-x-12">
      <!-- Service Aircraft on Ground Support -->
      <div class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
        >
          <div class="flex">
            <div
              class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <img loading="lazy" src="h1.png" class="w-full h-80 xl:h-96" />
              <a href="/aircraft-on-ground-support">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                >
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-4 text-lg font-bold">Aircraft on Ground Support</h5>
            <p class="mb-6 text-neutral-800">
              Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat
              vulputate. Ut vulputate est non quam dignissim elementum. Donec a
            </p>
            <a
              href="/aircraft-on-ground-support"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="inline-block rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <!-- Service Farm to Fork -->
      <div class="mb-6 lg:mb-0">
        <div
          class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
        >
          <div class="flex">
            <div
              class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <img
                loading="lazy"
                src="wallnuts-full-bg.jpg"
                class="w-full h-80 xl:h-96"
              />
              <a href="/farm-to-fork">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                >
                </div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="mb-4 text-lg font-bold">Farm to Fork</h5>
            <p class="mb-6 text-neutral-800">
              Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet diam
              orci, nec ornare metus semper sed. Integer volutpat ornare erat
              sit amet rutrum.
            </p>
            <a
              href="/farm-to-fork"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="inline-block rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
