<section>
  <div class="container px-6 my-12 mx-auto max-w-screen-2xl text-center">
    <h2 class="mb-12 pb-4 text-center text-2xl font-bold">Services</h2>

    <div class="grid gap-6 lg:grid-cols-2 xl:gap-x-12">
      <!-- Service Aircraft on Ground Support -->
      <div class="mb-6 lg:mb-0">
        <div
          class="relative block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
        >
          <div class="flex flex-col h-full">
            <div
              class="relative p-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <img
                loading="lazy"
                src="h1.png"
                class="w-full rounded-xl h-80 xl:h-96"
              />
              <a href="/aircraft-on-ground-support">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                >
                </div>
              </a>
            </div>

            <div class="p-6 flex-grow">
              <h5 class="mb-4 text-lg font-bold">Aircraft on Ground Support</h5>
              <p class="mb-6 text-neutral-800 line-clamp-3">
                With the world taking to flying like never before, air traffic
                has just exploded across the world and that presents an
                unprecedented demand on aircraft maintenance and support
                services. We swiftly and deftly connect your demand, whether
                routine or urgent with the right OEM/Non-OEM to get your flying
                machines back up in the air.
              </p>
              <a
                href="/aircraft-on-ground-support"
                data-te-ripple-init
                data-te-ripple-color="light"
                class="inline-block rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Service Farm to Fork -->
      <div class="mb-6 lg:mb-0">
        <div
          class="relative block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
        >
          <div class="flex flex-col h-full">
            <div
              class="relative p-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <img
                loading="lazy"
                src="wallnuts-full-bg.jpg"
                class="w-full rounded-xl h-80 xl:h-96"
              />
              <a href="/farm-to-fork">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                >
                </div>
              </a>
            </div>

            <div class="p-6 flex-grow">
              <h5 class="mb-4 text-lg font-bold">Farm to Fork</h5>
              <p class="mb-6 text-neutral-800 line-clamp-3">
                We represent farms in California, US to facilitate quality
                produce straight from the farm to your fork. We source English
                Walnuts of Chandler, Tulare and Howard varieties from farms that
                have been cared for the past 25 years and boast of a rich legacy
                of cultivating the fruits scientifically.
              </p>
              <a
                href="/farm-to-fork"
                data-te-ripple-init
                data-te-ripple-color="light"
                class="inline-block rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
